{% extends "layout.html" %}
{% block body %}
<style scoped>
  .location-image {
    width: 250px;
  }
  @media (max-width: 991px) {
    .location-image {
      width: 200px;
    }
  }
</style>
<section class="white-section">
  <div class="container">
    <h1 style="padding-top: 20px; padding-bottom: 20px;"> A myriad of locations. </h1>
    {% for num in range(location.query.all()[::3]|length) %}
    <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
      {% for location in location.query.all()[num::location.query.all()[::3]|length ] %}
      <div class="col-md-4">
        <img src="static\images\{{location.logo}}" class="location-image">
        <h3>{{location.name}}</h3>
        <p>
          {{location.address}}
          <br>
          {{location.schedule}}
        </p>
          <!-- Noscript content for added SEO -->
        <noscript><a href="https://www.eventbrite.com/e/zer0-limit-learning-coding-robotics-3-d-printing-the-citadel-tickets-95795010455" rel="noopener noreferrer" target="_blank"></noscript>
          <!-- You can customize this button any way you like -->
          <button id="eventbrite-widget-modal-trigger-95795010455" type="button" class="btn btn-dark btn-sm">Buy Tickets</button>
          <noscript></a>Buy Tickets on Eventbrite</noscript>
          
          <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
          
          <script type="text/javascript">
              var exampleCallback = function() {
                  console.log('Order complete!');
              };
          
              window.EBWidgets.createWidget({
                  widgetType: 'checkout',
                  eventId: '95795010455',
                  modal: true,
                  modalTriggerElementId: 'eventbrite-widget-modal-trigger-95795010455',
                  onOrderComplete: exampleCallback
              });
          </script>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock body %}
